{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}Liste des réservations de cantines
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
        Liste des des réservations de cantines</h1>


    <div class="row justify-content-center">
        <div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="fw-bold text-primary">
                            <th scope="col">Nom</th>
                            <th scope="col">Prenom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Nom de l'Ecole</th>
                            <th scope="col">Jour de Repas</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for info in cantine |sort((a, b) => b.JourRepas <=> a.JourRepas) %}
                        <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                            <td>{{ info.Nom | capitalize }}</td>
                            <td>{{ info.Prenom | capitalize }}</td>
                            <td>{{ info.email | lower }}</td>
                            <td>{{ info.NomEcole | lower }}</td>
                            <td>{{ info.JourRepas | date("d-m-Y à H:i:s") }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}